In [14]:
# standard library
import sys, os, re
import math

# pip packages
import numpy as np
import pandas as pd
import pickle as p

import matplotlib as mpl
import matplotlib.pyplot as plt

# matplotlib visualize in jupyter
%matplotlib inline

In [2]:
# initial data
data = pd.read_csv(os.path.abspath(os.path.join("../..", "data")) + "/03_processed/01_df_trade_processed.csv")
data.head()

,trade_num,ticker,profit_loss,cap,time_duration,positions,day,week,date,volume,entry,exit,Market Cap,Short Float,Shs Float,Market Category
0,0,LC,-10.95,475.45,122,6,3,30,2021-07-29,5,06:48:38,06:49:24,1.61B,4.86%,94.89M,small
1,1,NAOV,-0.05,25.35,441,2,3,30,2021-07-29,10,06:39:34,06:45:47,13.24M,0.97%,21.18M,nano
2,2,NAOV,-1.00,26.80,121,2,3,30,2021-07-29,10,06:33:24,06:34:37,13.24M,0.97%,21.18M,nano
3,3,NURO,-2.50,106.00,157,2,2,30,2021-07-28,5,08:00:53,08:01:44,94.16M,1.74%,1.95M,micro
4,4,TYHT,-0.60,29.70,123,2,2,30,2021-07-28,5,07:51:23,07:52:40,16.89M,6.46%,2.62M,nano

In [3]:
# set binary output for profit | loss as target variable
data["net_day"]=np.where(data["profit_loss"]>0,1,0)
target_data = data['net_day']
input_data = data[['Market Category']]

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le_market_category = LabelEncoder()

In [6]:
input_data['market_category_'] = le_market_category.fit_transform(data['Market Category'])
del input_data['Market Category']

/usr/local/lib/python3.9/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [7]:
# train classifier
from sklearn import tree

In [8]:
model = tree.DecisionTreeClassifier()
model.fit(input_data,target_data)

DecisionTreeClassifier()

In [9]:
model.score(input_data,target_data)

0.5337954939341422

In [10]:
input_data

      market_category_
0                    5
1                    4
2                    4
3                    2
4                    4
...                ...
1149                 5
1150                 5
1151                 5
1152                 5
1153                 5

[1154 rows x 1 columns]

In [12]:
model.predict([[2]])

array([0])

In [16]:
# save the model to disk
filename = 'decision_tree_model.sav'
p.dump(model, open(filename, 'wb'))